@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#first-section {
  background-image: url(../Assets/Hero-bg.png);
  width: 100%;


}

body {
  background-color: #f5f5ff;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 0;
  padding-top: 35px;
}

.nav-text h1 {
  font-family: inter;
  font-size: 34px;
  font-weight: 800;
  color: #4E47FF;
}

.nav-btn button {
  color: #FFFFFF;
  background-color: #4E47FF;
  height: 48px;
  width: 132px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  font-family: raleway;
  cursor: pointer;
}


.nav-btn button:hover {
  background-color: #7673cf;
}



.banner {
  text-align: center;
  margin-top: 158px;
}

.banner h2 {
  font-family: raleway;
  margin-bottom: 35px;
  font-size: 45px;

}

.banner button {
  color: #FFFFFF;
  background-color: #4E47FF;
  height: 48px;
  width: 155px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  font-family: raleway;
  margin-bottom: 170px;
  cursor: pointer;
}

.banner button:hover {
  background-color: #7673cf;
}



#banner-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 80px; */
  margin-left: 80px;
  margin-right: 80px;

}

/* banner-2-text{
  margin-top: 100px;
} */

#banner-2 {
  margin-top: 70px;
}

.banner-img img {
  width: 303px;
  height: 228px;
  border-radius: 25px;
}

.banner-2-text h3 {
  font-family: raleway;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
}

.banner-2-text p {
  font-family: raleway;
  font-weight: regular;
  color: #25243270;
  padding-bottom: 15px;
}

.banner-2-text button {
  color: #FFFFFF;
  background-color: #4E47FF;
  height: 48px;
  width: 174px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  font-family: raleway;
  cursor: pointer;
  /* margin-bottom: 170px; */
}


.banner-2-text button:hover {
  background-color: #7673cf;
}



#section-2 {
  background-color: #dbdbfcec;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 70px;
  border-radius: 15px;


}


#div-container h3 {
  font-family: raleway;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;

}

.div {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 30px;

}

.div div h2 {
  font-family: inter;
  font-size: 50px;
  color: #4E47FF;
}

.div div p {
  font-family: inter;
  font-weight: regular;
  color: #25243270;
}


#div-container-2 {
  font-family: raleway;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 90px;
}

.div-2 {
  background-color: #FFFFFF;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 70px;
  border-radius: 10px;
}

#review img {
  margin-top: 20px;
  margin-bottom: 20px;
}

#review h4 {
  font-family: inter;
  font-weight: 800px;
  padding-bottom: 8px;
}

#review p {
  font-size: 15px;
  color: #1a1927d3;
  padding-bottom: 20px;
}

#review-img {
  display: flex;
  gap: 12px;
  padding-bottom: 20px;
}


#review-img img {
  border-radius: 50px;
}


#review-img p {
  color: #1a1927d3;
}

span {
  color: #25243270;
}


#section-3-0 {
  display: flex;
  justify-content: space-around;
  margin-left: 80px;
  margin-right: 80px;

}


#section-4 {
  background-color: #FFFFFF;
  margin-top: 100px;
  height: 440px;
  margin-left: 85px;
  margin-right: 85px;
  border-radius: 8px;
}



.div-3 h2 {
  font-family: raleway;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
}

.div-3 button {
  color: #FFFFFF;
  background-color: #4E47FF;
  height: 48px;
  width: 155px;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  font-family: raleway;
  margin-bottom: 170px;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.div-3 button:hover {
  background-color: #7673cf;
}



.div-3 img {
  width: 500px;
  height: 240px;
  margin: 0 auto;
  display: block;
  border-radius: 30px;


}



#section-5 {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 90px;
  margin-top: 150px;

}

#input-section label,
input,
textarea {
  display: block;
  width: 340px;
  /* height: 40px; */
  border: none;


}

#input-section input,
textarea {
  height: 50px;
  padding-left: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: inter;
  color: black;
  font-size: 12px;
  border-color: gray;
}

#input-section textarea {
  padding-top: 10px;
  height: 100px;

}

#input-section label {
  padding-bottom: 5px;
  font-family: inter;
  font-size: 12px;
  font-weight: 500;
}


#input-section button {
  color: #FFFFFF;
  background-color: #4E47FF;
  height: 40px;
  width: 340px;
  border: none;
  font-size: 10px;
  border-radius: 8px;
  font-family: raleway;
  margin-bottom: 170px;
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;

}

#input-section button:hover {
  background-color: #7673cf;
}


#input-section {
  border: none;
}


#section-5 div h2 {
  font-family: raleway;
  /* align-items: center;
  display: block; */
  font-size: 70px;
  margin-top: 90px;
}


#footer-section div h2 {
  font-family: inter;
  font-size: 70px;
  font-weight: 800;
  color: #4E47FF;
  text-align: center;
  padding-top: 80px;

}

#footer-section {
  background-color: #FFFFFF;
  margin-top: 40px;
}


#footer-section div p {
  font-family: raleway;
  font-weight: regular;
  color: #25243270;
  padding-bottom: 15px;
  text-align: center;
}

#footer-section ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}


#footer-section ul li,
a {
  list-style: none;
  text-decoration: none;
  color: #25243270;
  margin-top: 5px;
  margin-bottom: 70px;
}